<nav id="nav" class="navigation" role="navigation">

<h2> Merci ! </h2>
</br>

<p>
Un e-mail vous sera envoyé.
Les fichiers sont des fichiers CSV directement importables depuis Gephi. Pour ce faire:
<ul>
    <li>
    - créz un nouveau projet
    </li>
    <li>
    - allez dans l'onglet " Data laboratory"
    </li>
    <li>
    - cliquez sur "ImportSpreadSheet"
    </li>
    <li>
    - selectionnez le premier fichier cvs : temp_node_XX.csv ( attention , il faut commencer par importer le fichier de noeuds avant le fichier de liens )
    </li>
    <li>
    - Selectionnez
    </li>
    <li>
    - separator : comma
    </li>
    <li>
    - as table : nodes table
    </li>
    <li>
    - Charset : UTF-8-
    </li>
    <li>
    - Enfin cliquez sur "next" puis "finish"
    </li>
    <li>
    - Faire de meme pour le fichier de lien : temp_edge.csv ( attention a bien selectionner as table : edges table)
    </li>
    <ul>
    </p>
    </nav>
