<h2>Carto Bessif UTC</h2>
</br>
<p>
Bienvene sur notre outil de crawl pour la cartographie des brevets.
Projet dans le cadre d'une UV au sein de l'UTC
</p>
Ce site vous permettra de remplir une base de données avec les brevets correspondant à vos mot clefs de recherche.
Nous vous proposons pour le moment deux services :
</br>
- Telecharger le contenu de la base en fichiers csv importables sous Gephi.
</br>
- Remplir la base en effectuant une nouvelle recherche par mots clefs. 
</br> 
N'oubliez pas que la base de données est commue , ce qui veut dire que chacune de vos recherches par mots clefs seront ensuite visibls par tous.
</br>Merci donc de ne pas lancer pas de recherche sur des mots clefs deja crawlés, et de bien definir vos mots clefs avant de lancer vos recherches.    
</br>
</br>
</br>
<button route="search" type="button" class="btn btn-primary btn-lg btn-block">Exportez la base existante</button>
<button route="crawl" type="button" class="btn btn-default btn-lg btn-block">Lancez une session de crawl</button>
</br></br></br>
Matthieu Hanne - Benedict Hanser - Christophe Richon
