<nav id="nav" class="navigation" role="navigation">

<h2> Procedure d'export </h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Etape 1: Email de reception
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-group">
                    <p>
                    Soyons simpa pour les serveurs de nos amis inpi&co, il est preferable de travailler sur la base plutot que de lancer de nouvelles recherches.
                    Nos ips on deja été bannis 2 3 fois... Pour l'instant, il est seulement possible d'exporter la 
                    base complete en filtrant les attributs des noeuds. Mais nous comptons mettre en place un systeme de 
                    recherche plus complexe (à voir en reunion !)
                    </br> Entrez votre email , choisissez les noeuds que vous souhaitez trouver sous Gephi et cliquez sur "Export"
                    </br> Vous receverez l'ensemble des brevets de la base correspondant aux mots clefs deja recherchés. 

                    </p>


                    <input type="email" class="form-control" id="mail" placeholder="Enter email">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Etape 2: Choix de la base de stockage</a> 
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row ">
                    <div class=col-xs-8>
                        <h3>Choix de base</h3>
                        <div class="form-group">
                            <p>
                            Après avoir entré une base, vous pouvez consulter les mots clefs sur celles-ci.
                            </p>
                            <input type="text" class="form-control" id="base" placeholder="base">
                            <button class=" show-databases btn btn-block btn-danger">Consulter les mots clefs</button>
                        </div>
                    </div>
                    <div class=col-xs-4>
                        <div id="table-body">
                            <table class="table table-bordered" id="base-table">
                                <thead><th><h4>Bases</h4></th></thead>
                                <tbody></tbody>
                            </table>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Etape 3: Attributs des brevets à exporter</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Filtres</h3>
                            <div class="checkbox">
                                <label><input class="param" checked="checked" type="checkbox" value="i">Les inventeurs </label>
                            </div>
                            <div class="checkbox">
                                <label><input class="param" checked="checked" type="checkbox" value="d">Les demandeurs</label>
                            </div>
                            <div class="checkbox">
                                <label><input class="param" checked="checked" type="checkbox" value="c">Classifications international</label>
                            </div>
                            <div class="checkbox">
                                <label><input class="param" checked="checked" type="checkbox" value="a"> N. abrege pour</label>
                            </div>
                            <div class="checkbox">
                                <label><input class="param" checked="checked" type="checkbox" value="k">Mots clefs</label>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <button template="targets"  type="submit" class="btn btn-primary btn-block start-search">Go !</button>
</div>

</nav>
