<div class="sliding-nav relative overflow-hidden navtoggle">

    <div class="brand-icon navtoggle">
        <a id="freddielink" class="block" href="/" aria-label="Dashboard" _dijitmenudijit_menu_0="1"></a>
    </div>
    <ul class="primary-nav nomargin navtoggle" role="navigation">
        <li class="relative hide-mobile zero-notifications">
        <a class="acl-settings" onclick="_gaq.push(['_trackEvent', 'dashboard', 'main navigation', 'account menu']);" title="Matthieu" onlick="return false;" href="#">
            <div class="logged-in-avatar inline-block-i avatar" style="background-image: url(http://png)" role="presentation"></div>
            <div class="inline-block-i relative"></div>
        </a>
        </li>
        <li class="relative show-mobile hide-desktop"></li>
        <li>
        <a class="" onclick="_gaq.push(['_trackEvent', 'dashboard', 'main navigation', 'campaigns']);" title="Design and send emails" href="/campaigns/">
            <span class="nav-sprite c" role="presentation"></span>
            <span class="nav-label">

                Campaigns

            </span>
        </a>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="hide-mobile"></li>
        <li class="toggle-nav hide-mobile navtoggle" title="Toggle slim navigation"></li>
    </ul>
    <div class="relative"></div>
    <ul id="acl" class="acl-menu nomargin navtoggle hide-mobile show-desktop" role="navigation"></ul>

</div>
